.body {
    background-color: darkslategray;
}
 h1.dailyHeader {
    text-align: center;
    background-color: darkslateblue;
    color: lavender;
    margin-top: 15px;
}
h2.dateTime {
    text-align: center;
    color: #ffffff;
}

.time-block {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.h-75 {
    background-color: #ffffff;
    margin: 10px 0px 10px 0px;
}
.present {
    background-color: #0047ab;
}
.future {
    background-color: #5d9451;
}
.past{
    background-color: #4A0000
}